<a href="https://colab.research.google.com/github/aakashrohila/python_pro/blob/master/conditional_statement_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [ ]:
num1 = int(input("Enter a number 1 : "))
num2 = int(input("Enter a number 2 : "))

if num1 == num2 :
  print("Number1 and Number2 are equal")

else:
  print("Number1 and Number2 are not equal")

Enter a number 1 : 15
Enter a number 2 : 15
Number1 and Number2 are equal

2.

In [ ]:
num1 = int(input('Enter a number: '))

if num1%2==0:
  print(num1,"is an even integer")

else:
  print(num2,"is an odd integer")

Enter a number: 15
15 is an odd integer

3.

In [ ]:
num1 = int(input("Enter a number: "))

if num1>0:
  print(num1,"is a positive number")

else:
  print(num1,"is a negative number")

Enter a number: 15
15 is a positive number

4.

In [ ]:
num1=int(input("Enter a number: "))

if (num1%4==0 and num1%100!=0) or (num1%400==0):
  print(num1,"is a leap year")

else:
  print(num1,"is not leap year")

Enter a number: 1900
1900 is not leap year

5.

In [ ]:
num1 = int(input("Enter your age: "))
if num1>=18:
  print("Congratulation! You are eligible for casting your vote.")

else:
  print("Sorry you are not eligible")

Enter your age: 21
Congratulation! You are eligible for casting your vote.

6.

In [ ]:
m=int(input("Enter a number: "))

if m>0:
  n=1
elif m<0:
  n=-1
else:
  n=0

print("The value of n =",n)

Enter a number: -5
The value of n = -1

7.

In [ ]:
height=int(input("Enter your height in cm: "))

if height<150:
  print("The person is Dwarf")

elif height<200:
  print("The person is Average")

else:
  print("The person is heighted")

Enter your height in cm: 135
The person is Dwarf

8.

In [ ]:
x=int(input("1st Number ="))
y=int(input("2nd Number ="))
z=int(input("3rd Number ="))

if x>y and x>z:
  print("The 1st Number is the greatest among three")

elif y>x and y>z:
  print("The 2nd Number is the greatest among three") 

else:
  print("The 3rd Number is the largest among three")

1st Number =12
2nd Number =25
3rd Number =52
The 3rd Number is the largest among three

9.

In [ ]:
x=int(input("Enter x coordinate: "))
y=int(input("Enter y coordinate: "))

if x>0 and y>0 :
  print("The coordinate point (",x,",",y,") lies in the First quadrant")

elif x<0 and y>0:
  print("The coordinate point (",x,",",y,") lies in the Second quadrant")

elif x<0 and y<0:
  print("The coordinate point (",x,",",y,") lies in the Third quadrant")

else:
  print("The coordinate point (",x,",",y,") lies in the Forth quadrant")

Enter x coordinate: 7
Enter y coordinate: 9
The coordinate point ( 7 , 9 ) lies in the First quadrant

10.
10. Write a C program to find the eligibility of admission for a professional course based on the following criteria: Eligibility Criteria : Marks in Maths >=65 and Marks in Phy >=55 and Marks in Chem>=50 and Total in all three subject >=190 or Total in Maths and Physics >=140 ------------------------------------- Input the marks obtained in Physics :65 Input the marks obtained in Chemistry :51 Input the marks obtained in Mathematics :72 Total marks of Maths, Physics and Chemistry : 188 Total marks of Maths and Physics : 137 The candidate is not eligible. Expected Output : The candidate is not eligible for admission.

In [ ]:
phy=int(input(" Input the marks obtained in Physics "))
chem=int(input(" Input the marks obtained in Chemistry "))
math=int(input(" Input the marks obtained in Maths "))


total1=math+phy+chem
total2=math+phy

print("Total marks of Maths, Physics and Chemistry : ",total1)
print("Total marks of Maths, Physics : ",total2)
if (math>=65 and phy>=55 and chem>=50) and (total1 >=190  or total2 >=140) :
  print("The candidate is eligible for admission") 

else:
  print("The candidate is not eligible for admission")

 Input the marks obtained in Physics 65
 Input the marks obtained in Chemistry 51
 Input the marks obtained in Maths 72
Total marks of Maths, Physics and Chemistry :  188
Total marks of Maths, Physics :  137
The candidate is not eligible for admission

11.

In [ ]:
print("Program to display roots existence:")
print("ax^2 + bx + c")
a = int(input("Enter the value of a :"))
b = int(input("Enter the value of b :"))
c = int(input("Enter the value of c :"))

root =  b**2 - 4*a*c 

if root==0:
  print("Roots are equal")

elif root>0:
  print("Roots are unequal")

else:
  print("Roots are imaginary")

Program to display roots existence:
ax^2 + bx + c
Enter the value of a :1
Enter the value of b :5
Enter the value of c :7
Roots are imaginary

12.

In [ ]:
roll=int(input("Input the Roll Number of the student :"))
name=input("Input the Name of the Student :")
phy=int(input("Input the marks of Physics"))
chem=int(input("Input the marks of Chemistry"))
comp=int(input("Input the marks of Computer Application"))

print("Roll No :",roll )
print("Name of Student :",name)
print("Marks in Physics :",phy)
print("Marks in Chemistry :",chem)
print("Marks in Computer Application :",comp)
print("Total marks =",phy+chem+comp)
print("Percentage = ",(phy+chem+comp)/300 * 100 )

Input the Roll Number of the student :784
Input the Name of the Student :James
Input the marks of Physics70
Input the marks of Chemistry80
Input the marks of Computer Application90
Roll No : 784
Name of Student : James
Marks in Physics : 70
Marks in Chemistry : 80
Marks in Computer Application : 90
Total marks = 240
Percentage =  80.0

13.

In [ ]:
temp=int(input("Enter your temperature:"))

if temp>=40:
  print("Its very hot")

elif temp>=30:
  print("Its Hot")

elif temp>=20:
  print("Normal in Temp")

elif temp>=10:
  print("Cold Weather")

elif temp>=0:
  print("Very Cold Weather")

else:
  print("Freezing weather")

Enter your temperature:42
Its very hot

14.

In [ ]:
angle1 = int(input("Enter your angle1 :"))
angle2 = int(input("Enter your angle2 :"))
angle3 = int(input("Enter your angle3 :"))

if angle1+angle2+angle3 == 180 :
  if angle1 == 60 and angle2 == 60:
    print("This is an equilateral traingle")
  
  elif angle1 == angle2 or angle1 == angle3 or angle1==angle3:
    print("This is an Isosceles triangle")
  
  else:
    print("This is an Scalene triangle")

else:
  print("Bro its definitely not a triangle")

Enter your angle1 :50
Enter your angle2 :50
Enter your angle3 :60
Bro its definitely not a triangle

15.

In [ ]:
angle1 = int(input("Enter your angle1 :"))
angle2 = int(input("Enter your angle2 :"))
angle3 = int(input("Enter your angle3 :"))

if angle1+angle2+angle3 == 180 :
  print("The Triangle is valid")

else:
  print("This Triangle is not valid")

Enter your angle1 :40
Enter your angle2 :55
Enter your angle3 :65
This Triangle is not valid

16.

In [ ]:
char = input("Press a key on keyboard :")

if char.isdigit() :
  print("This is a digit")

elif char.isalpha() :
  print("This is an alphabet")

else:
  print("This is a special character")

Press a key on keyboard :@
This is a special character

17.

In [ ]:
char = input("Enter your alphabet :")

if char in ['a' 'e' 'i' 'o' 'u']:
  print("The alphabet is a vowel")
else:
  print("The alphabet is a consonant")

Enter your alphabet :k
The alphabet is a consonant

18.

In [ ]:
cp = int(input("Enter your cost price :"))
sp = int(input("Enter your selling price :"))

if sp>cp:
  print("You can booked your profit amount :",sp-cp)
else:
  print("You can booked your loss amount :",cp-sp)

Enter your cost price :500
Enter your selling price :700
You can booked your profit amount : 200

19.

In [ ]:
id=int(input("Enter your customer id : "))
name=input("Enter your name : ")
unit=int(input("Enter your unit consumed : "))

print("Customer IDNO :",id)
print("Customer Name :",name)
print("Unit Consumed :",unit)

if unit<199:
  if unit*1.20 > 100:
    print("Amount Charges@Rs.1.20 per unit : ",unit*1.20)
  else:
    print("Amount Charges@Rs.1.20 per unit : ",100.00)

elif unit<400:
  if unit*1.50 < 400:
    print("Amount Charges@Rs.1.50 per unit : ",unit*1.50)
  else:
    sur=unit*1.50*0.15
    print("Amount Charges@Rs.1.50 per unit : ",unit*1.50)
    print("Surcharge Amount :",sur)
    print("Net Amount Paid by the Customer : ",unit*1.50 + sur)

elif unit<600:
  sur=unit*1.80*0.15
  print("Amount Charges@Rs1.80 per unit : ",unit*1.80)
  print("Surcharge Amount :",sur)
  print("Net Amount Paid by the Customer : ",unit*1.80 + sur)

else:
  sur=unit*2.00*0.15
  print("Amount Charges@Rs2.00 per unit : ",unit*2.00)
  print("Surcharge Amount :",sur)
  print("Net Amount Paid by the Customer : ",unit*2.00 + sur)

Enter your customer id : 1001
Enter your name : James
Enter your unit consumed : 800
Customer IDNO : 1001
Customer Name : James
Unit Consumed : 800
Amount Charges@Rs2.00 per unit :  1600.0
Surcharge Amount : 240.0
Net Amount Paid by the Customer :  1840.0

20.

In [ ]:
grade = input("Input the grade : ")

if grade == 'E':
  print("You have chosen : Excellent")

elif grade == 'V':
  print("You have chosen : Very Good")  

elif grade == 'G':
  print("You have chosen : Good")

elif grade == 'A':
  print("You have chosen : Average")

elif grade == 'F' :
  print("You have chosen : Fail")

Input the grade : A
You have chosen : Average

21.

In [ ]:
day=int(input("Enter a number: "))

if day==1:
  print("Monday")

elif day==2:
  print("Tuesday")

elif day==3:
  print("Wednesday")

elif day==4:
  print("Thursday")

elif day==5:
  print("Friday")

elif day==6:
  print("Saturday")

elif day==7:
  print("Sunday")

Enter a number: 4
Thursday

22.

In [ ]:
digit=int(input("Enter a number: "))

if digit==1:
  print("One")

elif digit==2:
  print("Two")

elif digit==3:
  print("Three")

elif digit==4:
  print("Four")

elif digit==5:
  print("Five")

elif digit==6:
  print("Six")

elif digit==7:
  print("Seven")

elif digit==8:
  print("Eight")

elif digit==9:
  print("Nine")

elif digit==0:
  print("Zero")

Enter a number: 4
Four

23.

In [ ]:
month=int(input("Enter a number: "))

if month==1:
  print("January")

elif month==2:
  print("February")

elif month==3:
  print("March")

elif month==4:
  print("April")

elif month==5:
  print("May")

elif month==6:
  print("June")

elif month==7:
  print("July")

elif month==8:
  print("August")

elif month==9:
  print("September")

elif month==10:
  print("October")

elif month==11:
  print("November")

elif month==12:
  print("December")

Enter a number: 4
April

24.

In [ ]:
month=int(input("Enter a number: "))

if month == 1 or month==3 or month==5 or month==7 or month==9 or month==11:
  print("Month have 31 days")

elif month==4 or month==6 or month==8 or month==10 or month==12:
  print("Month have 30 days")

else:
  print("Month have 28 days if not leap year else it has 29 days")

Enter a number: 7
Month have 31 days

25.

In [ ]:
while True:
  print("Enter your Geometrical Shape Choice: ")
  print("1.Circle")
  print("2.Square")
  print("3.Rectangle")
  print("4.Triangle")
  print("0.Exit")

  choice = int(input("Enter your choice: "))
  if choice==0:
    break

  elif choice==1:
    rad = int(input("Enter Radius of a cirle: "))
    circle = 3.1415 * (rad**2)
    print("Area of Circle : ",circle)

  elif choice==2:
    side = int(input("Enter side of sqaure: "))
    square = side*side
    print("Area of Square : ",square)

  elif choice==3:
    length = int(input("Enter length of rectangle: "))
    breadth = int(input("Enter breadth of rectangle: "))
    rectangle = length*breadth
    print("Area of Rectangle :",rectangle)

  elif choice==4:
    base = int(input("Enter Base of Triangle: "))
    height = int(input("Enter Height of Triangle: "))
    triangle = 0.5 * base * height
    print("Are of Triangle: ",triangle)

Enter your Geometrical Shape Choice:
1.Circle
2.Square
3.Rectangle
4.Triangle
0.Exit
Enter your choice: 1
Enter Radius of a cirle: 12
Area of Circle :  452.37600000000003
Enter your Geometrical Shape Choice:
1.Circle
2.Square
3.Rectangle
4.Triangle
0.Exit
Enter your choice: 2
Enter side of sqaure: 4
Area of Square :  16
Enter your Geometrical Shape Choice:
1.Circle
2.Square
3.Rectangle
4.Triangle
0.Exit
Enter your choice: 0

26.

In [ ]:
while True:
  print("Enter your Choice: ")
  print("1.Addition")
  print("2.Subtraction")
  print("3.Multiplication")
  print("4.Division")
  print("5.Exponent")
  print("0.Exit")

  choice = int(input("Enter your choice: "))
  
  if choice==1:
    num1 = int(input("Enter number1 :"))
    num2 = int(input("Enter number2 :"))
    print(num1," + ",num2," = ",num1+num2)

  elif choice==2:
    num1 = int(input("Enter number1 :"))
    num2 = int(input("Enter number2 :"))
    print(num1," - ",num2," = ",num1-num2)

  elif choice==3:
    num1 = int(input("Enter number1 :"))
    num2 = int(input("Enter number2 :"))
    print(num1," * ",num2," = ",num1*num2)

  elif choice==4:
    num1 = int(input("Enter number1 :"))
    num2 = int(input("Enter number2 :"))
    print(num1," / ",num2," = ",num1/num2)

  elif choice==5:
    num1 = int(input("Enter number1 :"))
    num2 = int(input("Enter number2 :"))
    print(num1," ** ",num2," = ",num1**num2)

  elif choice==0:
    break

Enter your Choice:
1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exponent
0.Exit
Enter your choice: 1
Enter number1 :2
Enter number2 :2
2  +  2  =  4
Enter your Choice:
1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exponent
0.Exit
Enter your choice: 3
Enter number1 :5
Enter number2 :2
5  *  2  =  10
Enter your Choice:
1.Addition
2.Subtraction
3.Multiplication
4.Division
5.Exponent
0.Exit
Enter your choice: 0