<a href="https://colab.research.google.com/github/aakashrohila/python_pro/blob/master/For_Loop_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.

In [ ]:
for i in range(1,11):
  print(i,end=' ')

1 2 3 4 5 6 7 8 9 10

2.

In [ ]:
sum=0
for i in range(1,11):
  sum += i
print("The Sum is :",sum)

The Sum is : 55

3.

In [ ]:
natural = int(input("Enter a number n: "))
sum = 0
print("The first 7 natural numbers is :")
for i in range(1,natural+1):
  print(i,end=' ')
  sum+= i
print()
print("The Sum of Natural Number upto",natural,"terms :",sum)

Enter a number n: 7
The first 7 natural numbers is :
1 2 3 4 5 6 7
The Sum of Natural Number upto 7 terms : 28

4.

In [ ]:
test_run = 1
sum = 0
print("Input the 10 Numbers :")
while test_run != 11 :
  #print("Number-",test_run,":",end="")
  num = int(input("Number-"+str(test_run)+" :"))
  sum += num
  test_run +=1

print("The sum if 10 no is : ",sum)
print("The Average is :",sum/10)

Input the 10 Numbers :
Number-1 :1
Number-2 :2
Number-3 :3
Number-4 :4
Number-5 :5
Number-6 :6
Number-7 :7
Number-8 :8
Number-9 :9
Number-10 :10
The sum if 10 no is :  55
The Average is : 5.5

5.

In [ ]:
terms = int(input("Input number of terms : "))

for i in range(1,terms+1):
  print("Number is : ",i,"and cube of the",i,"is :",i**3)

Input number of terms : 5
Number is :  1 and cube of the 1 is : 1
Number is :  2 and cube of the 2 is : 8
Number is :  3 and cube of the 3 is : 27
Number is :  4 and cube of the 4 is : 64
Number is :  5 and cube of the 5 is : 125

6.

In [ ]:
num = int(input("Input the number (Table to be calculated) : "))

for i in range(1,11):
  print(num,"x",i,"=",num*i)

Input the number (Table to be calculated) : 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

7.

In [ ]:
num = int(input("Input upto the table number starting from 1 : "))

for i in range(1,num+1):
  print(i,"x 1","=",1*i,",",end=" ")

Input upto the table number starting from 1 : 8
1 x 1 = 1 , 2 x 1 = 2 , 3 x 1 = 3 , 4 x 1 = 4 , 5 x 1 = 5 , 6 x 1 = 6 , 7 x 1 = 7 , 8 x 1 = 8 ,

8.

In [ ]:
sum = 0
terms = int(input("Input number of terms : "))
print("The odd numbers are :",end=' ')
for i in range(1,terms*2 +1,2):
  sum += i
  print(i,end=' ')
print()
print("The Sum of odd Natural Number upto 10 terms : ",sum)

Input number of terms : 10
The odd numbers are : 1 3 5 7 9 11 13 15 17 19
The Sum of odd Natural Number upto 10 terms :  100

9.

In [ ]:
for i in range(5):
  for j in range(i):
    print("*",end=' ')
  print()

*
* *
* * *
* * * *

10.

In [ ]:
for i in range(5):
  for j in range(1,i+1):
    print(j,end=' ')
  print()

1
1 2
1 2 3
1 2 3 4

11.

In [ ]:
for i in range(1,5):
  for j in range(i):
    print(i,end=' ')
  print()

1
2 2
3 3 3
4 4 4 4

12.

In [ ]:
count = 1
for i in range(1,5):
  for j in range(i):
    print(count,end=' ')
    count+=1
  print()

1
2 3
4 5 6
7 8 9 10

13.

In [ ]:
space = 3
count = 1
for i in range(1,5):
  temp = space
  while temp>0:
    print(" ",end='')
    temp-=1
  for j in range(i):
    print(count,end=' ')
    count+=1
  print()
  space -=1

   1
  2 3
 4 5 6
7 8 9 10

14.

In [ ]:
space = 3
for i in range(1,5):
  temp = space
  while temp>0:
    print(" ",end='')
    temp = temp -1
  for j in range(i):
    print("*",end=' ')
  print()
  space = space - 1

   *
  * *
 * * *
* * * *

15.

In [ ]:
num = int(input("Input the number : "))
fact = 1
for i in range(num,1,-1):
  fact = fact * i
print("The Factorial of",num,"is:",fact)

Input the number : 5
The Factorial of 5 is: 120

16.

In [ ]:
num = int(input("Input number of terms : "))
sum = 0
print("The even numbers are :",end='')
for i in range(2,num*2 +1 , 2):
  print(i,end=' ')
  sum += i
print()
print("The Sum of even Natural Number upto 5 terms : ",sum)

Input number of terms : 5
The even numbers are :2 4 6 8 10
The Sum of even Natural Number upto 5 terms :  30

17.

In [ ]:
space = 3
for i in range(1,5):
  temp = space
  while temp > 0:
    print(" ",end='')
    temp = temp -1
  for j in range(i):
    print(i,end=' ')
  space = space - 1
  print()

   1
  2 2
 3 3 3
4 4 4 4


18.

In [ ]:
x = int(input("Input the Value of x :"))
terms = int(input("Input the number of terms :"))
sum = 0
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)

flag = 1
for i in range(0,terms*2,2):
  sum+= (x**i/fact(i))*(flag)
  flag = flag*(-1)

print("the sum = ",sum)
print("Number of terms= ",terms)
print("Value of x= ",x)

Input the Value of x :2
Input the number of terms :5
the sum =  -0.41587301587301595
Number of terms=  5
Value of x=  2

19.

In [ ]:
terms = int(input("Enter number of terms: "))
sum = 0
for i in range(1,terms+1):
  print("1/"+str(i),"+ ",end='')
  sum += 1/i
print()
print("Sum of Series upto 5 terms :",sum)

Enter number of terms: 5
1/1 + 1/2 + 1/3 + 1/4 + 1/5 +
Sum of Series upto 5 terms : 2.283333333333333

20.

In [ ]:
term = int(input("Enter no of rows : "))
space = term - 1
for i in range(1,term*2,2):
  print(" "*space,end='')
  print("*"*i)
  space = space - 1

Enter no of rows : 3
  *
 ***
*****

21.

In [ ]:
terms = int(input("Enter number of terms : "))
sum = 0
num = 9
for i in range(1,terms+1):
  sum= sum + (10**i - 1)
  print(10**i - 1,end=' ')
print()
print("The sum of the series =",sum)

Enter number of terms : 5
9 99 999 9999 99999
The sum of the series = 111105


```
1 
01
101
0101
```

In [ ]:
terms = int(input("Enter number of terms: "))

for i in range(terms):
  for j in range(i):
    print((i+j)%2,end='')
  print()

Enter number of terms: 5

1
01
101
0101

23.

In [ ]:
def fact(n):
  if n==0:
    return 1
  else:
    return n*fact(n-1)


x = int(input("Enter the value of x :"))
terms = int(input("Enter number of terms:"))
sum = 0
for i in range(terms):
  sum += x**i/fact(i)

print("The sum is :",sum)

Enter the value of x :3
Enter number of terms:5
The sum is : 16.375

24.

In [ ]:
x = int(input("Enter the number of terms:"))
terms = int(input("Enter the number of terms:"))
sum = 0
flag = 1
for i in range(1,(terms)*2,2):
  sum += x**i * flag
  print(x**i * flag,'+ ',end='')
  flag = flag*(-1)
  
print()
print("The Sum is : ",sum)

Enter the number of terms:2
Enter the number of terms:5
2 + -8 + 32 + -128 + 512 +
The Sum is :  410

25.

In [ ]:
term = int(input("Input the number of terms: "))
sum = term*(term+1)*(2*term+1)/6
print("The square natural upto 5 terms are :",end='')
for i in range(1,term+1):
  print(i,end=' ')
print()
print("The Sum of Square Natural Number upto",term,"terms =",sum)

Input the number of terms: 5
The square natural upto 5 terms are :1 2 3 4 5
The Sum of Square Natural Number upto 5 terms = 55.0

26.

In [ ]:
terms = int(input("Input the number of terms: "))
sum = 0
for i in range(1,terms+1):
  print(str(1)*i,'+ ',end='')
  sum += int(str(1)*i)
print()

print("The Sum is:",sum)

Input the number of terms: 5
1 + 11 + 111 + 1111 + 11111 +
The Sum is: 12345

27.

In [ ]:
num = int(input("Input the number: "))
flow =[]
sum = 0
for i in range(1,num):
  if num%i == 0:
    sum += i
    flow = flow + [i]

print("The positive divisor : ",end='')
for i in flow:
  print(i,end=' ')

print('\nThe sum of the divisor is :',sum)
if sum==num:
  print("So,the number is perfect.")

else:
  print("So,the number is not perfect")

Input the number: 56
The positive divisor : 1 2 4 7 8 14 28
The sum of the divisor is : 64
So,the number is not perfect

28.

In [ ]:
def perfect_num(n):
  flow = []
  sum = 0
  for i in range(1,n):
    if n%i == 0:
      flow += []
      sum += i
  if sum==n:
    print(n,end=' ')

start = int(input("Input the starting range or number : "))
end = int(input("Input the ending range of number : "))
print("The Perfect numbers within the given range : ", end = '')
for i in range(start,end+1):
  perfect_num(i)

Input the starting range or number : 1
Input the ending range of number : 50
The Perfect numbers within the given range : 6 28

29.

In [ ]:
num = int(input("Enter a number: "))
sum = 0
temp = num
while num!=0:
  sum = sum + (num%10)**3
  num = num//10

if sum==temp:
  print(temp,"is an Armstrong number")

else:
  print(temp,"is an Armstrong number")

Enter a number: 153
153 is an Armstrong number

30.

In [ ]:
def arm_verifier(n):
  temp = n
  sum = 0
  while n!=0 :
    sum = sum + (n%10)**3
    n = n//10
  if temp==sum:
    print(temp,end=' ')

start = int(input("Input the starting number of range: "))
stop = int(input("Input ending number of range: "))

print("Armstrong numbers in given range are: ",end='')
for i in range(start,stop+1):
  
  arm_verifier(i)

Input the starting number of range: 1
Input ending number of range: 1000
Armstrong numbers in given range are: 1 153 370 371 407

31.

In [ ]:
count = 1
flag = 1
space = 4
for i in range(10):
  if count<=9 and flag==1:
    print(" "*space,end='')
    for j in range(count):
      print("*",end='')
    print()
    count = count + 2
    space = space - 1
  
  if count>9 or flag==0:
    if flag==1:
      count = count - 4
      space = space + 2
    print(" "*space,end='')
    flag = 0
    for k in range(count):
      print('*',end='')
    print()
    space = space + 1
    count = count - 2

    *
   ***
  *****
 *******
*********
 *******
  *****
   ***
    *

32.

In [ ]:
num = int(input("Enter a number: "))
flag = 0
for i in range(2,num):
  if num%i==0:
    flag = 1
  
if flag == 0:
  print(num,"is a prime number.")

else:
  print(num,"is not a prime number.")

Enter a number: 29
29 is a prime number.

33.

In [ ]:
rows = int(input("Input number of Rows: "))

def fact(num):
  value = 1
  while num!=0:
    value = value*num
    num = num-1
  return value

def nCr(n,r):
   return fact(n)//(fact(r)*fact(n-r))


for i in range(rows):
  print(" "*(rows-i),end='')
  for j in range(i+1):
    print(nCr(i,j),end=" ")
  print()

Input number of Rows: 4
    1
   1 1
  1 2 1
 1 3 3 1

34.

In [ ]:
start = int(input("Input Starting number of range: "))
end = int(input("Input Ending number of range: "))

print("The Prime number between the range",start,"and",end,"are :")
for i in range(start,end+1):
  flag = 0
  for j in range(2,i):
    if i%j==0:
      flag = 1

  if flag==0:
    print(i,end=' ')

Input Starting number of range: 1
Input Ending number of range: 50
The Prime number between the range 1 and 50 are :
1 2 3 5 7 11 13 17 19 23 29 31 37 41 43 47

35.

In [78]:
num = int(input("Input number terms to display : "))
print("Here are the Fibonacci series upto",num,"terms")

if num==2:
  print(0,1,end=" ")

term1 = 0
term2 = 1
print(term1,term2,end=" ")
for i in range(num-2):
  print(term1+term2,end=" ")
  temp = term2
  term2 = term1 + term2
  term1 = temp

Input number terms to display : 10
Here are the Fibonacci series upto 10 terms
0 1 1 2 3 5 8 13 21 34

36.

In [111]:
row = int(input("Enter number of rows: "))
count = 1

for i in range(1,row*2+1):
  if i%2!=0:
    print(" "*(row-1),end="")
    row = row - 1
    for j in range(1,i+1):
      if j<=count:
        print(j,end='')
        temp = j
      else:
        temp = temp - 1
        print(temp,end='')
    count = count + 1
    print()

Enter number of rows: 6
     1
    121
   12321
  1234321
 123454321
12345654321

37.

In [101]:
num = int(input("Input a number :"))
rev = 0
print("The number in reverse order is:")
for i in range(len(str(num))):
  digit = num%10
  rev = rev*10 + digit
  num = num//10

print(rev)

Input a number :12345
The number in reverse order is:
54321

38.

In [103]:
num = int(input("Input a number :"))
rev = 0
ori_num = num
for i in range(len(str(num))):
  digit = num%10
  rev = rev*10 + digit
  num = num//10

if rev==ori_num:
  print(rev,"is a palindrome")
else:
  print(rev,"is not a palindrome")

Input a number :121
121 is a palindrome

39.

In [106]:
print("Numbers between 100 and 200, divisible by 9 :")
sum = 0
for i in range(100,201):
  if i%9==0:
    print(i,end=' ')
    sum += i
print()
print("The Sum :",sum)

Numbers between 100 and 200, divisible by 9 :
108 117 126 135 144 153 162 171 180 189 198
The Sum : 1683

40.

In [113]:
alpha = 64
count = 1
space = 3
for i in range(8):
  if i%2!=0:
    print(" "*space,end='')
    space -= 1
    for j in range(1,i+1):
      if j<=count:
        print(chr(64 + j),end='')
        temp = j + 64
      else:
        temp = temp - 1
        print(chr(temp),end='')

    count += 1
    print()

   A
  ABA
 ABCBA
ABCDCBA

41.

In [123]:
num = int(input("Input a Decimal Number: "))
rev = 0
print("Binary number equivalent to said decimal number is: ")
while num!=0:

  digit = num%2
  rev = rev*10 + digit
  num = num//2

num = 0
while rev!=0:
  digit = rev%10
  num = num*10 + digit
  rev = rev//10


print(num)

Input a Decimal Number: 25
Binary number equivalent to said decimal number is:
11001

42.

In [132]:
num = int(input("Input a Binary Number: "))
decimal_no = 0
count = len(str(num)) - 1
for i in range(1,len(str(num))+1):
  decimal_no += int(str(num)[i-1]) * (2**count)
  count = count - 1
print("The Binary Number :",num)
print("The equivalent Decimal Number :",decimal_no)

Input a Binary Number: 11001
The Binary Number : 11001
The equivalent Decimal Number : 25

43.