<a href="https://colab.research.google.com/github/aakashrohila/python_pro/blob/master/OOPS_Based_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a Vehicle class without any variables and methods

In [ ]:
class Vehicle:
  pass

Create a child class Bus that will inherit all of the variables and methods of the Vehicle class

In [ ]:
class Vehicle:

  def __init__(self):
    self.name = input("Enter Name of Vehicle: ")

  def engine(self,engine):
    pass

  def body(self):
    pass

class Electric_car(Vehicle):

  def __init__(self):
    self.battery = 'initalize'
    print(self.battery)

  def touch_screen_Dash(self):
    pass

e = Electric_car()

v = Vehicle()

initalize
Enter Name of Vehicle: BMW

Write a Program to create a class by name Students, and initialize attributes like name, age, and grade while creating an object.

In [ ]:
class Students:

  def __init__(self,name,age,grade):
    self.name = name
    self.age = age
    self.grade = grade


s = Students("Aakash",21,"A+")
print(s.name,s.age,s.grade)

Aakash 21 A+

Write a Program to create a valid empty class by name Students, with no properties

In [ ]:
class Students:
  pass

Write a program to create a child class Teacher that will inherit the properties of Parent class Staff

In [ ]:
class Staff:

  def __init__(self,name,age,expertise):
    self.name = name
    self.age = age
    self.expertise = expertise

class Teacher(Staff):

  def __init__(self,name,age,expertise,Class):
    super().__init__(name,age,expertise)
    self.Class = Class
    

t = Teacher("Aakash",21,"Physics","10th")

In [ ]:
t.age

21

Write a Python program that checks if one class is a subclass of another.

In [ ]:
class A:
  pass

class B(A):
  pass

issubclass(B,A)

True

Write a Program to create a class and, using the class instance, print all the writable attributes of that object.

In [ ]:
class Human:
  
  def __init__(self,name,age,height,weight):
    self.name = name
    self.age = age
    self.height = height
    self.weight = weight


h = Human("Aakash",21,"167cm","55kg")

print("Name :",h.name)
print("Age :",h.age)
print("Height :",h.height)
print("Weight :",h.weight)

Name : Aakash
Age : 21
Height : 167cm
Weight : 55kg

Create a class Teacher with name, age, and salary attributes, where salary must be a private attribute that cannot be accessed outside the class.

In [ ]:
class Teacher:

  def __init__(self,name,age,salary):
    self.name = name
    self.age = age
    self.__salary = salary


t = Teacher("Aakash",21,1000)

print(t.name)
print(t.age)

Aakash
21

AttributeError: ignored

Write a Python program to create an instance of a specified class and display the namespace of the said instance

In [ ]:
class Human:
  
  def __init__(self,name,age,height,weight):
    self.name = name
    self.age = age
    self.height = height
    self.weight = weight

h = Human("Aakash",21,"167cm","55Kg")

print(h.__dict__)

{'name': 'Aakash', 'age': 21, 'height': '167cm', 'weight': '55Kg'}

 Define a Python function student(). Using function attributes display the names of all arguments
:

In [ ]:
def student(name,age,std,grade):
  print("Name:",name)
  print("Age: ",age)
  print("Std: ",std)
  print("Grade: ",grade)


student("Aakash",21,"10th","A")

Name: Aakash
Age:  21
Std:  10th
Grade:  A

Write a Python function student_data () which will print the id of a student (student_id). If the user passes an argument student_name or student_class the function will print the student name and class.

In [ ]:
def student_data(student_id,**dicto):
  if student_id != 0:
    print("Student ID :",student_id)

  if 'student_name' in dicto :
    print("Student Name :",dicto['student_name'])

  if 'student_class' in dicto:
    print("Student Class :",dicto['student_class'])

student_data(123,student_name = 'Aakash',student_class = 'CDAC')
print("-----------")
student_data(146,student_name = 'Amar Sir')

Student ID : 123
Student Name : Aakash
Student Class : CDAC
-----------
Student ID : 146
Student Name : Amar Sir

Write a simple Python class named Student and display its type. Also, display the __dict__ attribute keys and the value of the __module__ attribute of the Student class.

In [3]:
class Student:
  
  def __init__(self,name,age):
    self.name = name
    self.age = age

print(type(Student))
s = Student("Aakash",21)

print(s.__dict__)
print(s.__module__)

<class 'type'>
{'name': 'Aakash', 'age': 21}
__main__

Write a Python program to create two empty classes, Student and Marks. Now create some instances and check whether they are instances of the said classes or not. Also, check whether the said classes are subclasses of the built-in object class or not.

In [6]:
class Student:
  pass

class Marks:
  pass

s = Student()
m = Marks()

print(isinstance(s,Student))
print(isinstance(m,Marks))

True
True

 Write a Python class named Student with two attributes: student_name, marks. Modify the attribute values of the said class and print the original and modified values of the said attributes.

In [8]:
class Student:

  def __init__(self,student_name,marks):
    self.student_name = student_name
    self.marks = marks

print("Original Value:")
s = Student("Aakash",90)

print(s.student_name, s.marks)

print("Updated Value:")
s.student_name = "Amar Sir"
s.marks = 100

print(s.student_name,s.marks)

Original Value:
Aakash 90
Updated Value:
Amar Sir 100

Write a Python class named Student with two attributes student_id, student_name. Add a new attribute student_class and display the entire attribute and their values of the said class. Now remove the student_name attribute and display the entire attribute with values

In [12]:
class Student:

  def __init__(self,student_id,student_name):
    self.student_id = student_id
    self.student_name = student_name

s = Student(1234,"Aakash")
print(s.__dict__)

print("Adding new attribute: ")
setattr(s,'grade','A')
print(s.__dict__)

print("Removing Attribute: ")
del s.student_id
print(s.__dict__)

{'student_id': 1234, 'student_name': 'Aakash'}
Adding new attribute:
{'student_id': 1234, 'student_name': 'Aakash', 'grade': 'A'}
Removing Attribute:
{'student_name': 'Aakash', 'grade': 'A'}

Write a Python class named Student with two attributes student_id, student_name. Add a new attribute student_class. Create a function to display the entire attribute and their values in Student class.

In [15]:
class Student:

  def __init__(self,student_id,student_name):
    self.student_id = student_id
    self.student_name = student_name

  def display_attr(self):
    print("Displaying all attributes")
    print(self.__dict__)


s = Student(1234,"Aakash")
s.display_attr()

setattr(s,"student_class","DBDA")

s.display_attr()

Displaying all attributes
{'student_id': 1234, 'student_name': 'Aakash'}
Displaying all attributes
{'student_id': 1234, 'student_name': 'Aakash', 'student_class': 'DBDA'}

Write a Python class named Student with two instances student1, student2 and assign given values to the said instances attributes. Print all the attributes of student1, student2 instances with their values in the given format

In [16]:
class Student:

  def __init__(self,student_name,student_id):
    self.student_name = student_name
    self.student_id = student_id

student1 = Student("Aakash",1234)
student2 = Student("Amar Sir",1111)

print(vars(student1))
print(vars(student2))

{'student_name': 'Aakash', 'student_id': 1234}
{'student_name': 'Amar Sir', 'student_id': 1111}

Write a Python class to find the validity of a string of parentheses, '(', ')', '{', '}', '[' and ']. These brackets must be closed in the correct order, for example "()" and "()[]{}" are valid but "[)", "({[)]" and "{{{" are invalid.

In [82]:
class Validity:

  c_flag = 0
  s_flag = 0
  cu_flag = 0

  c_count_open = 0
  c_count_close = 0

  s_count_open = 0
  s_count_close = 0  
  
  cu_count_open = 0
  cu_count_close = 0

  cool = 0

  def __init__(self,word):

    self.reset()
    self.flow = [i for i in word]
    if len(self.flow)%2 == 0:
      
      for i in self.flow:
      
      #Start of For 
        #1
        if i==')' and Validity.c_flag==0:
          break
        elif i=='(':
          Validity.c_flag = 1
          Validity.c_count_open += 1
        
        elif i==')':
          Validity.c_count_close += 1

 
        #2
        if i==']' and Validity.s_flag==0:
          break
        elif i=='[':
          Validity.s_flag = 1
          Validity.s_count_open += 1
        
        elif i==']':
          Validity.s_count_close += 1

        #3
        if i=='}' and Validity.cu_flag==0:
          break
        elif i=='{':
          Validity.cu_flag = 1
          Validity.cu_count_open += 1
        
        elif i=='}':
          Validity.cu_count_close += 1
      #End of for

      #print(Validity.c_count_open , Validity.c_count_close)
      #print(Validity.s_count_open, Validity.s_count_close)
      #print(Validity.cu_count_open, Validity.cu_count_close)
      
      if (Validity.c_count_open == Validity.c_count_close and
          Validity.s_count_open == Validity.s_count_close and
          Validity.cu_count_open == Validity.cu_count_close):
        
        print("Entered String is Valid")

      else:
        print("Entered String is Invalid1")

    else:
      print("Entered String is Invalid2")

  def reset(self):

    Validity.c_count_open = 0
    Validity.c_count_close = 0
    Validity.s_count_open = 0
    Validity.s_count_close = 0
    Validity.cu_count_open = 0
    Validity.cu_count_close = 0

In [83]:
word = "(({{}}))"
v  = Validity(word)

Entered String is Valid

Write a Python class to find a pair of elements (indices of the two numbers) from a given array whose sum equals a specific target number.
Note: There will be one solution for each input and do not use the same element twice.
Input: numbers= [10,20,10,40,50,60,70], target=50
Output: 3, 4

In [5]:

class Summer:

  numbers= [10,20,10,40,50,60,70]

  def reset(self):
    Summer.numbers = [10,20,10,40,50,60,70]

  def target_input(self):

    self.ith = 0
    self.jth = 0
    self.target= int(input("Enter target value: "))
    self.calculator()

  def calculator(self):

    for i in range(len(Summer.numbers)):
      for j in range(i+1,len(Summer.numbers)):

        sum = Summer.numbers[i] + Summer.numbers[j]
        if sum == self.target:
          Summer.numbers[i] = 0
          Summer.numbers[j] = 0 
          print("Index :",i,j)
          return

s = Summer()

s.target_input()

s.target_input()

Enter target value: 50
Index : 0 3
Enter target value: 80
Index : 1 5

Write a Python class to reverse a string word by word.
Input string : 'hello .py'
Expected Output : '.py hello'

In [92]:
class Word_by_word:

  def __init__(self,word):
    self.flow = word.split()
    self.flow = self.flow[::-1]
    self.flow = " ".join(self.flow)

w = Word_by_word("hello .py")

print(w.flow)

.py hello

Write a Python class named Circle constructed by a radius and two methods which will compute the area and the perimeter of a circle

In [96]:
class Circle:

  def __init__(self,radius):
    self.radius  = radius

  def area(self):
    self.a = 3.1415*self.radius*self.radius

  def perimeter(self):
    self.p = 2*self.radius*3.1415

c = Circle(3)

c.area()
c.perimeter()

print("Area :",c.a)
print("Perimeter :",c.p)

Area : 28.2735
Perimeter : 18.849

Write a Python class which has two methods get_String and print_String. get_String accept a string from the user and print_String print the string in upper case.

In [97]:
class Stringo:

  def get_string(self,word):
    self.word = word

  def print_string(self):
    print("String is: ",self.word)

s = Stringo()
s.get_string("Aakash")
s.print_string()

String is:  Aakash

Write a Python class named Rectangle constructed by a length and width and a method which will compute the area of a rectangle

In [1]:
class Rectangle:

  def __init__(self,length,breadth):
    self.length = length
    self.breadth = breadth

  def area(self):
    self.area_cal = self.length * self.breadth


r = Rectangle(20,10)

r.area()

print("Area of Rectangle: ",r.area_cal)

Area of Rectangle:  200