https://www.hackerrank.com/challenges/weather-observation-station-9/problem?isFullScreen=true

In [ ]:
select distinct city
from station
where left(city,1) not in ('a','e','i','o','u');

https://www.hackerrank.com/challenges/weather-observation-station-10/problem?isFullScreen=true

In [ ]:
select distinct city
from station
where right(city,1) not in ('a','e','i','o','u')

1. Write a Python function that prints out the first n rows of Pascal's triangle.

In [3]:
def pascal_printer(n):
    list1 = [1]

    for i in range(n):
        list2 = []
        print(list1)
        list2 = [0] + list1 + [0]
        list1 = []
        for j in range(len(list2)-1):
            list1.append(list2[j] + list2[j+1])

pascal_printer(5)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [23]:
def pascal_printer(n):
    for i in range(n):
        for j in range(i+1):
            temp  = fact(i)/(fact(i-j)*fact(j))
            print(int(temp),end=' ')
        print()

def fact(n):
    temp = n
    if(n==0 or n==1):
        return 1

    for i in range(1,n):
        n = n*(temp-i)
    return n

pascal_printer(5)

1
1 1
1 2 1
1 3 3 1
1 4 6 4 1

2. Write a Python program to remove the intersection of a 2nd set from the 1st set.

In [30]:
set1 = {1,2,3,4,5,6}

set2 = {1,2,2,2,3,4}

print(set1 ^ set2)

{5, 6}

3. Write a Python program to check a given set has no elements in common with other given set.

In [35]:
set1 = {1,2,3,4,5,6}

set2 = {12,14,15,16,18}


print(set1.isdisjoint(set2))

print(len(set1 & set2))

True
0