Write a Python function that checks whether a passed string is palindrome or not.

In [12]:
def pali_checker(word):

    word = word.lower()

    if word == word[::-1]:
        print("Entered String is Palindrome")

    else:
        print("Entered Stiring is not a palindrome")

pali_checker('Madam')

Entered String is Palindrome

In [9]:
def pali_checker(word):

    mt_list = []
    for i in word:
        mt_list =  [i] + mt_list
    
    if "".join(mt_list) == word:
        print("yes palindrome")

    else:
        print("No palindrome")

pali_checker('choc')

No palindrome

Write a Python program to compute the product of a list of integers (without using loops).
Hint: Use Reduce Function

In [17]:
from functools import reduce

list1 = [1,2,3,4,5,6,7,8]

mul = reduce(lambda x,y : x*y , list1)

print(mul)

40320

Write a Python program to triple all numbers of a given list of integers. Use Python map.

In [15]:
list1 = [1,2,3,4,5,6,7,8]

triplet = list(map(lambda x : x*3 , list1))

print(triplet)

[3, 6, 9, 12, 15, 18, 21, 24]

Write a Python program to add three given lists using Python map and lambda.

In [20]:
list1 = [1,2,3,4,5,6,7]

add_three = list(map(lambda x: x+3 , list1))

print(add_three)

[4, 5, 6, 7, 8, 9, 10]

https://www.hackerrank.com/challenges/weather-observation-station-20/problem

In [ ]:
with sta as (
select row_number() over(order by LAT_N) as num , LAT_N
from station
)
select trim(trailing 0 from round(LAT_N,4)) as median
from sta
where num = (select floor(num/2)+1 from sta order by num desc limit 1) ;