```1. Write a Python program to sort a string lexicographically.```

In [28]:
string1 = "Schinchan"

x = ''.join(sorted(string1.lower()))
mt_list = []
for i in string1:
  x = ord(i)

  if(x < 97 ):
    x = x + 32
  
  mt_list.append((i,x))

mt_list.sort(key = lambda x : x[1])

s=''
for i in mt_list:
  s = s + i[0]


print(s)

acchhinnS

```
2. Write a Python program to count the number of characters (character frequency) in a string.
```

In [39]:
string2 = 'google.com'

mt_list = {}

for i in string2:
  counter = 0
  for j in string2:
    if i == j :
      counter = counter +1 
  
  mt_list[i] = counter

print(mt_list)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

```
3. Write a Python program to find the elements in a given set that are not in another set. sn1 = {1,2,3,4,5} sn2 = {4,5,6,7,8}
```

In [44]:
sn1 = {1,2,3,4,5} 
sn2 = {4,5,6,7,8}

print(sn1 - sn2)

print(sn2 - sn1)

print(sn2 ^ sn1 )

{1, 2, 3}
{8, 6, 7}
{1, 2, 3, 6, 7, 8}

[weather-observation-station-6](https://www.hackerrank.com/challenges/weather-observation-station-6/problem?isFullScreen=true)

```
select city 
from station
where substr(city,1,1) in ('a','e','i','o','u');
```